:root {
  --background: #f7f7f7;
  --foreground: #141414;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f0f0f0;
  }
}

html[data-theme="dark"] {
  --gray-rgb: 255, 255, 255;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  --button-primary-hover: #ccc;
  --button-secondary-hover: #1a1a1a;
  --background: #0a0a0a;
  --foreground: #f0f0f0;
}

html[data-theme="light"] {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --background: #f7f7f7;
  --foreground: #141414;
}

.btn-back {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: monospace;
  color: var(--foreground);
  background: none;
  border: none;
  padding: 8px 16px;
  border-radius: 50%;
}

.btn-theme {
  width: 40px;              /* Make button square */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 0;
  transition: background 0.2s, color 0.2s;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
